@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP|Oxygen");
html body #root .App .SideNav .LeftSide ._mainMenu ul, html body #root .App .TopNav .Navbar-Left ul, html body #root .App .TopNav .Navbar-Right ul, html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(1) .row .col-lg-6 ul, html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(1) .row .col-lg-3 ul, html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(2) .row .col-lg-12 ul, html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(1) .card-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 nav ol, html body #root .App .Content .DataEmployee .container-fluid .row .col-lg-12 nav ol, html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(1) nav ol, html body #root .App .Content .Requests .container-fluid .row .col-lg-12 nav ol, html body #root .App .Content .RequestsRecord .container-fluid .row .col-lg-12 nav ol, html body #root .App .Content .DataUsers .container-fluid .row .col-lg-12 nav ol {
  background-image: linear-gradient(to right, #f1f2f6, #ffffff);
  border-radius: 0; }
  html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 nav ol li, html body #root .App .Content .DataEmployee .container-fluid .row .col-lg-12 nav ol li, html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(1) nav ol li, html body #root .App .Content .Requests .container-fluid .row .col-lg-12 nav ol li, html body #root .App .Content .RequestsRecord .container-fluid .row .col-lg-12 nav ol li, html body #root .App .Content .DataUsers .container-fluid .row .col-lg-12 nav ol li {
    height: 35px; }
    html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 nav ol li a, html body #root .App .Content .DataEmployee .container-fluid .row .col-lg-12 nav ol li a, html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(1) nav ol li a, html body #root .App .Content .Requests .container-fluid .row .col-lg-12 nav ol li a, html body #root .App .Content .RequestsRecord .container-fluid .row .col-lg-12 nav ol li a, html body #root .App .Content .DataUsers .container-fluid .row .col-lg-12 nav ol li a {
      font-size: 25px;
      line-height: 35px; }

html body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #ecf0f1; }
  html body #root .App {
    position: relative; }
    html body #root .App .SideNav {
      position: relative; }
      html body #root .App .SideNav .LeftSide {
        position: fixed;
        width: 230px;
        height: 100vh;
        left: 0;
        background-color: #ffffff;
        transition: all .3s;
        overflow: hidden;
        z-index: 2; }
        html body #root .App .SideNav .LeftSide ._Header {
          height: 50px;
          text-align: center; }
          html body #root .App .SideNav .LeftSide ._Header h1 {
            font-size: 30px;
            line-height: 50px;
            color: #2d3436; }
        html body #root .App .SideNav .LeftSide ._mainMenu {
          position: relative;
          height: 300px;
          overflow: hidden;
          overflow-y: auto; }
          html body #root .App .SideNav .LeftSide ._mainMenu ul li {
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
            transition: all .2s; }
            html body #root .App .SideNav .LeftSide ._mainMenu ul li:hover {
              background-color: #e6e6e6; }
            html body #root .App .SideNav .LeftSide ._mainMenu ul li svg {
              color: #2d3436;
              margin-right: 5px; }
            html body #root .App .SideNav .LeftSide ._mainMenu ul li a {
              color: #2d3436;
              font-size: 17px;
              outline: none; }
              html body #root .App .SideNav .LeftSide ._mainMenu ul li a:hover {
                text-decoration: none; }
          html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown.active {
            border-left: 2px solid #fdfdfd; }
          html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown li {
            height: 50px;
            line-height: 50px;
            position: relative;
            cursor: pointer; }
            html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown li:hover .dropdownIcon {
              opacity: 1; }
            html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown li.active {
              background-color: #e6e6e6;
              border: 1px solid rgba(0, 0, 0, 0.2); }
            html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown li.active .dropdownIcon {
              opacity: 1;
              transform: rotate(90deg); }
            html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown li svg {
              color: #2d3436; }
            html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown li .dropdownIcon {
              position: absolute;
              right: 10px;
              top: 15px;
              opacity: 0;
              transition: all .3s; }
          html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown .DropdownMenu {
            overflow: hidden;
            transition: all .3s linear;
            background-color: #e6e6e6; }
            html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown .DropdownMenu ._Menu ul li {
              padding-left: 35px;
              transition: all .3s; }
              html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown .DropdownMenu ._Menu ul li:hover {
                background-color: #d9d9d9; }
              html body #root .App .SideNav .LeftSide ._mainMenu ul .Dropdown .DropdownMenu ._Menu ul li a {
                outline: none; }
      html body #root .App .SideNav .LeftSide_Slider {
        left: -230px; }
      html body #root .App .SideNav .RightSide {
        position: fixed;
        background-color: red;
        height: 100vh;
        width: 0;
        left: 0;
        z-index: 1; }
    html body #root .App .TopNav {
      position: fixed;
      left: 230px;
      right: 0;
      background-color: #ffffff;
      transition: all .3s;
      z-index: 1;
      height: 50px; }
      html body #root .App .TopNav .Navbar-Left {
        position: absolute;
        left: 10px; }
        html body #root .App .TopNav .Navbar-Left ul li {
          display: inline-block;
          margin-right: 10px; }
          html body #root .App .TopNav .Navbar-Left ul li svg {
            cursor: pointer; }
      html body #root .App .TopNav .Navbar-Right {
        position: absolute;
        right: 10px;
        height: 50px;
        line-height: 50px; }
        html body #root .App .TopNav .Navbar-Right ul li {
          padding: 0 10px 0 10px;
          display: inline-block;
          transition: all .2s; }
          html body #root .App .TopNav .Navbar-Right ul li:hover {
            background-color: #74b9ff;
            color: #ffffff;
            cursor: pointer; }
          html body #root .App .TopNav .Navbar-Right ul li img {
            width: 20px;
            height: 20px;
            border-radius: 50%; }
    html body #root .App .TopNav_Slider {
      left: 0; }
    html body #root .App .PagesInfo {
      position: relative; }
      html body #root .App .PagesInfo .Pages-Toggle {
        position: fixed;
        top: 50px;
        height: 100vh;
        display: none;
        z-index: 9999;
        transition: all .2s;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%; }
      html body #root .App .PagesInfo .Pages-Toggle-Slider {
        display: block; }
      html body #root .App .PagesInfo .Pages-Menu {
        position: fixed;
        right: 0;
        top: 50px;
        z-index: 9999;
        width: 50%;
        right: -50%;
        height: 100vh;
        transition: all .3s;
        background-color: #fdfdfd; }
        html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(1) {
          margin-bottom: 50px; }
          html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(1) .row .col-lg-3 {
            text-align: center; }
            html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(1) .row .col-lg-3 img {
              width: 100px;
              height: 100px;
              border-radius: 50%; }
          html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(1) .row .col-lg-6 ul {
            padding-top: 20px; }
            html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(1) .row .col-lg-6 ul li svg {
              margin-right: 5px; }
            html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(1) .row .col-lg-6 ul li span {
              font-size: 20px; }
          html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(1) .row .col-lg-3 ul {
            position: absolute;
            bottom: 0;
            right: 20px; }
            html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(1) .row .col-lg-3 ul li span {
              cursor: pointer; }
        html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(2) .row .col-lg-12 ul {
          text-align: center; }
          html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(2) .row .col-lg-12 ul li {
            display: inline-block;
            margin: 20px; }
            html body #root .App .PagesInfo .Pages-Menu .container-fluid:nth-child(2) .row .col-lg-12 ul li a svg {
              font-size: 50px;
              color: #2c3e50; }
      html body #root .App .PagesInfo .Pages-Menu-Slider {
        right: 0; }
    html body #root .App .Content {
      position: absolute;
      left: 240px;
      right: 0;
      top: 70px;
      transition: all .3s; }
      html body #root .App .Content .Loading {
        margin-top: 15%; }
        html body #root .App .Content .Loading img {
          height: 60px;
          width: 60px;
          animation: Loading 3s infinite linear; }
      html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(1) {
        border-radius: 5px; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(1) .card-body {
          position: relative; }
          html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(1) .card-body .ProfilePict {
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px; }
            html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(1) .card-body .ProfilePict img {
              height: 150px;
              width: 150px;
              border-radius: 50%;
              transition: all .3s; }
              html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(1) .card-body .ProfilePict img:hover {
                box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5); }
          html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(1) .card-body ul li {
            margin-left: 30px; }
            html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(1) .card-body ul li svg {
              margin-right: 10px; }
            html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(1) .card-body ul li span {
              font-size: 20px; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(1) .card-footer {
          border-radius: 0;
          background-color: #0fb9b1;
          color: #fdfdfd;
          text-align: center; }
      html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(2) {
        border: none;
        border-top: 2px solid #0fb9b1;
        border-radius: 0;
        border-radius: 5px; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(2) .card-header {
          text-align: center;
          background-image: linear-gradient(to right, #f1f2f6, #ffffff); }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(2) .card-body form .form-group label {
          padding-bottom: 5px; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(2) .card-body form .form-group input {
          background-color: rgba(0, 0, 0, 0);
          border-radius: 0;
          border: 2px solid #0fb9b1;
          transition: all .2s; }
          html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(2) .card-body form .form-group input:focus {
            border: 2px solid #fdfdfd; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(2) .card-body form .form-group textarea {
          background-color: rgba(0, 0, 0, 0);
          border-radius: 0;
          border: 2px solid #0fb9b1;
          transition: all .2s; }
          html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(2) .card-body form .form-group textarea:focus {
            border: 2px solid #fdfdfd; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-4 .card:nth-child(2) .card-body form .form-group button {
          cursor: pointer; }
      html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12:nth-child(1) .card {
        border: none; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12:nth-child(1) .card .card-header {
          background-color: rgba(0, 0, 0, 0);
          text-align: center;
          font-size: 30px;
          border: none; }
      html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12:nth-child(2) .InformationSummary .card {
        position: relative;
        border-right: 2px solid #0fb9b1;
        border-bottom: 2px solid #0fb9b1; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12:nth-child(2) .InformationSummary .card .card-body .card-title {
          font-size: 25px; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12:nth-child(2) .InformationSummary .card .card-body .card-text {
          font-size: 17px; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12:nth-child(2) .InformationSummary .card .card-footer small {
          margin: 5px;
          font-size: 13px; }
          html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12:nth-child(2) .InformationSummary .card .card-footer small span {
            font-weight: bold; }
        html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12:nth-child(2) .InformationSummary .card .PinLogo {
          position: absolute;
          top: -10px;
          right: 0;
          transform: rotate(40deg); }
          html body #root .App .Content .Dashboard .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12:nth-child(2) .InformationSummary .card .PinLogo img {
            width: 50px;
            height: 50px; }
      html body #root .App .Content .DataEmployee .container-fluid .row .col-lg-12 .card .card-header {
        font-size: 20px; }
      html body #root .App .Content .DataEmployee .container-fluid .row .col-lg-12 .card .card-body .TableEmployee table thead tr {
        background-color: #0fb9b1; }
        html body #root .App .Content .DataEmployee .container-fluid .row .col-lg-12 .card .card-body .TableEmployee table thead tr th {
          color: #fdfdfd;
          text-align: center;
          font-weight: bold;
          width: 400px; }
      html body #root .App .Content .DataEmployee .container-fluid .row .col-lg-12 .card .card-body .TableEmployee table tbody tr td {
        color: #3b3d45;
        text-align: center; }
      html body #root .App .Content .DataEmployee .container-fluid .row .col-lg-12 .card .card-body .TableEmployee .ExportButton {
        margin-top: 5px;
        margin-bottom: 5px; }
        html body #root .App .Content .DataEmployee .container-fluid .row .col-lg-12 .card .card-body .TableEmployee .ExportButton ._Button {
          background-color: #3ae374;
          border: none;
          height: 35px;
          width: 60px;
          outline: none;
          color: #fdfdfd;
          cursor: pointer;
          transition: all .2s; }
          html body #root .App .Content .DataEmployee .container-fluid .row .col-lg-12 .card .card-body .TableEmployee .ExportButton ._Button:active {
            box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5); }
      html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(1) .card {
        background-color: #f1f2f6;
        border: none;
        border-top: 2px solid  #0fb9b1;
        border-top-right-radius: 0;
        border-top-left-radius: 0; }
        html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(1) .card .card-body .CreateKanban form .form-row .col-md-3 .form-group .labelForm {
          padding-bottom: 5px; }
        html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(1) .card .card-body .CreateKanban form .form-row .col-md-3 .form-group input {
          background-color: rgba(0, 0, 0, 0);
          border-radius: 0;
          border: 2px solid #0fb9b1;
          transition: all .3s; }
          html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(1) .card .card-body .CreateKanban form .form-row .col-md-3 .form-group input:focus {
            border: 2px solid #fdfdfd; }
          html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(1) .card .card-body .CreateKanban form .form-row .col-md-3 .form-group input:focus ~ .labelForm {
            color: red; }
      html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(2) .row .col-lg-4 .card {
        position: relative;
        border-radius: 0;
        border-bottom: 2px solid #0fb9b1; }
        html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(2) .row .col-lg-4 .card .card-body .card-title {
          font-size: 25px; }
        html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(2) .row .col-lg-4 .card .card-body .card-text {
          font-size: 17px;
          padding-bottom: 15px; }
        html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(2) .row .col-lg-4 .card .card-body small {
          display: block;
          font-size: 13px;
          margin-buttom: 5px;
          margin-top: 5px; }
          html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(2) .row .col-lg-4 .card .card-body small span {
            font-weight: bold; }
        html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(2) .row .col-lg-4 .card .card-body .Status {
          position: absolute;
          top: 5px;
          right: 0;
          width: 100px;
          height: 30px;
          padding: 2px 4px; }
          html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(2) .row .col-lg-4 .card .card-body .Status a {
            position: absolute;
            top: 2px;
            left: 5px;
            color: #fdfdfd;
            pading-left: 10px; }
        html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(2) .row .col-lg-4 .card .card-body .ActionBtn {
          position: absolute;
          bottom: 5px;
          right: 5px;
          width: 30px;
          height: 30px;
          text-align: center;
          cursor: pointer;
          transition: all .2s; }
          html body #root .App .Content .KanBan .container-fluid .row .col-lg-12:nth-child(2) .row .col-lg-4 .card .card-body .ActionBtn svg {
            color: #747d8c; }
      html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card {
        background-color: #f1f2f6;
        border: none;
        border-top: 2px solid  #0fb9b1;
        border-top-right-radius: 0;
        border-top-left-radius: 0; }
        html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card .card-body .CreateRequests form .form-group label {
          padding-bottom: 5px; }
        html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card .card-body .CreateRequests form .form-group input {
          background-color: rgba(0, 0, 0, 0);
          border-radius: 0;
          border: 2px solid #0fb9b1;
          transition: all .3s; }
          html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card .card-body .CreateRequests form .form-group input:focus {
            border: 2px solid #fdfdfd; }
          html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card .card-body .CreateRequests form .form-group input:focus ~ .labelForm {
            color: red; }
        html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card .card-body .CreateRequests form .form-group textarea {
          background-color: rgba(0, 0, 0, 0);
          border-radius: 0;
          border: 2px solid #0fb9b1;
          transition: all .3s; }
          html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card .card-body .CreateRequests form .form-group textarea:focus {
            border: 2px solid #fdfdfd; }
          html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card .card-body .CreateRequests form .form-group textarea:focus ~ .labelForm {
            color: red; }
        html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card .card-body .CreateRequests form .form-group select {
          background-color: rgba(0, 0, 0, 0);
          border-radius: 0;
          border: 2px solid #0fb9b1;
          transition: all .3s; }
          html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card .card-body .CreateRequests form .form-group select:focus {
            border: 2px solid #fdfdfd; }
          html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-4 .row .col-lg-12 .card .card-body .CreateRequests form .form-group select:focus ~ .labelForm {
            color: red; }
      html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12 .card {
        position: relative;
        border-radius: 0;
        border-bottom: 2px solid #0fb9b1; }
        html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12 .card .card-body .card-title {
          font-size: 25px; }
        html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12 .card .card-body .card-text {
          font-size: 17px;
          padding-bottom: 10px; }
        html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12 .card .card-body small {
          font-size: 13px; }
          html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12 .card .card-body small span {
            font-weight: bold; }
        html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12 .card .card-body .Blank_Spot {
          height: 10px; }
        html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12 .card .card-body .Status {
          position: absolute;
          top: 5px;
          right: 0;
          width: 130px;
          height: 30px;
          padding: 2px 4px; }
          html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12 .card .card-body .Status a {
            position: absolute;
            top: 3px;
            left: 5px;
            font-size: 15px;
            color: #fdfdfd; }
        html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12 .card .card-body .ActionBtn {
          position: absolute;
          bottom: 5px;
          right: 5px;
          width: 30px;
          height: 30px;
          text-align: center;
          cursor: pointer;
          transition: all .2s; }
          html body #root .App .Content .Requests .container-fluid .row .col-lg-12 .row .col-lg-8 .row .col-lg-12 .card .card-body .ActionBtn svg {
            color: #747d8c; }
      html body #root .App .Content .RequestsRecord .container-fluid .row .col-lg-12 .card .card-body ._Table table thead tr {
        background-color: #0fb9b1; }
        html body #root .App .Content .RequestsRecord .container-fluid .row .col-lg-12 .card .card-body ._Table table thead tr th {
          color: #fdfdfd;
          text-align: center;
          font-weight: bold;
          width: 400px; }
      html body #root .App .Content .RequestsRecord .container-fluid .row .col-lg-12 .card .card-body ._Table table tbody tr td {
        color: #3b3d45;
        text-align: center; }
      html body #root .App .Content .RequestsRecord .container-fluid .row .col-lg-12 .card .card-body ._Table .ExportButton {
        margin-top: 5px;
        margin-bottom: 5px; }
        html body #root .App .Content .RequestsRecord .container-fluid .row .col-lg-12 .card .card-body ._Table .ExportButton ._Button {
          background-color: #3ae374;
          border: none;
          height: 35px;
          width: 60px;
          outline: none;
          color: #fdfdfd;
          cursor: pointer;
          transition: all .2s; }
          html body #root .App .Content .RequestsRecord .container-fluid .row .col-lg-12 .card .card-body ._Table .ExportButton ._Button:active {
            box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5); }
      html body #root .App .Content .DataUsers .container-fluid .row .col-lg-12 .card .card-header {
        font-size: 20px; }
      html body #root .App .Content .DataUsers .container-fluid .row .col-lg-12 .card .card-body table thead tr {
        background-color: #0fb9b1; }
        html body #root .App .Content .DataUsers .container-fluid .row .col-lg-12 .card .card-body table thead tr th {
          color: #fdfdfd;
          text-align: center;
          font-weight: bold;
          width: 400px; }
      html body #root .App .Content .DataUsers .container-fluid .row .col-lg-12 .card .card-body table tbody tr td {
        color: #3b3d45;
        text-align: center; }
    html body #root .App .Content_Slider {
      left: 0; }
    html body #root .App .Content-Auth {
      position: relative;
      margin-top: 4%;
      margin-bottom: 4%; }
      html body #root .App .Content-Auth .SignIn {
        position: relative; }
        html body #root .App .Content-Auth .SignIn .container .row .col-lg-5 .card .card-body {
          padding: 40px; }
          html body #root .App .Content-Auth .SignIn .container .row .col-lg-5 .card .card-body form .form-group {
            position: relative; }
            html body #root .App .Content-Auth .SignIn .container .row .col-lg-5 .card .card-body form .form-group .EyePassword {
              position: absolute;
              cursor: pointer;
              top: 0;
              right: 10px;
              top: 4px; }
          html body #root .App .Content-Auth .SignIn .container .row .col-lg-5 .card .card-body .info {
            position: absolute;
            bottom: 10px;
            left: 20px; }
            html body #root .App .Content-Auth .SignIn .container .row .col-lg-5 .card .card-body .info svg {
              font-size: 20px;
              cursor: pointer; }
      html body #root .App .Content-Auth .SignUp .container .row .col-lg-5 .card .card-body {
        padding: 40px; }
        html body #root .App .Content-Auth .SignUp .container .row .col-lg-5 .card .card-body form .form-group {
          position: relative; }
          html body #root .App .Content-Auth .SignUp .container .row .col-lg-5 .card .card-body form .form-group .EyePassword {
            position: absolute;
            cursor: pointer;
            top: 0;
            right: 10px;
            top: 5px; }
  html body .Btn_Modal {
    border-radius: 0;
    background-color: #fdfdfd;
    color: #34495e;
    transition: all .3s; }
    html body .Btn_Modal:hover {
      background-color: #0fb9b1;
      color: #fdfdfd;
      border: 1px solid #0fb9b1; }
  html body .LabelModal {
    padding-bottom: 5px; }

@media screen and (max-width: 600px) {
  html body #root .App .TopNav .Navbar-Left ul li .input-group {
    display: none; }
  html body #root .App .TopNav .Navbar-Right ul li svg {
    display: none; }
  html body #root .App .PagesInfo .Pages-Menu {
    width: 90%;
    right: -90%; }
  html body #root .App .PagesInfo .Pages-Menu-Slider {
    right: 0; }
  html body #root .App .Content .RequestsRecord .container-fluid .row .col-lg-12 .card .card-body ._Table table tbody tr td {
    color: #3b3d45;
    text-align: center; }
  html body #root .App .Content-Auth .SignIn {
    padding-top: 15%; }
  html body #root .App .Content-Auth .SignUp {
    padding-top: 15%; }
    html body #root .App .Content-Auth .SignUp .container .row .col-lg-5 .card .card-body form .form-group {
      position: relative; } }

@keyframes Loading {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
